@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

.main {
  background-color: #F7F7F7;
  padding: 8rem 0;
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(../img/main-bg.svg);
  background-position: 30% 25%;
  background-repeat: no-repeat;
  background-size: auto;
}

.gradient-box {
  background: linear-gradient(90deg, #25D838, #710FD8);
  color: #ffffff;
  padding: 80px 0;
}

.color-black {
  color: #303434;
}

.card-box {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #26262626;
  box-shadow: 0 4px 12px #0000000F;
  height: 100%;
  max-width: 850px;
}

.btn-gradient:hover {
  background-color: #e6e6e6;
  color: #5d0cbb;
}

.btn {
  border-radius: 15px;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.start-btn {
  background-color: #710FD9;
  color: #ffffff;
}

.start-btn:hover {
  background-color: #5d0cbb;
}

.header-btn {
  background-color: #25D838;
  color: #ffffff;
}

.header-btn:hover {
  background-color: #1bbb2b;
}

.btn-gradient {
  background-color: #ffffff;
  color: #710FD8;
  box-shadow: 0px 0px 4px 0px #ab7ade;
}

.btn-gradient:hover {
  background-color: #f3f3f3;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .main::before {
    background-position: 40% 25%;
  }
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }

  h2,
  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  .gradient-box {
    padding: 40px 0;
  }
  .main {
    padding: 4rem 0;
  }
  .main::before {
    background-position: 30% 47%;
  }
}

body.modal-open {
  overflow: hidden !important;
}

.header {
  border-bottom: 1px solid #30343434;
  box-shadow: 0 12px 12px #0000000F;
  position: fixed;
  top: -100px;
  width: 100%;
  transition: top 0.3s;
}

.header.visible {
  top: 0;
}

.gradient-text {
  background: linear-gradient(90deg, #7919e0, #36c242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.example-quote {
  font-style: italic;
  border: 1px solid #710FD8;
  box-shadow: 8px 4px #0000000F;
}

.tilt-left {
  transform: rotate(-3deg);
}

.tilt-right {
  transform: rotate(3deg);
}

.step-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.25rem;
  min-height: 2.25rem;
  border-radius: 50%;
  background-color: #25D838;
  color: #fff;
  font-weight: 600;
}
.video-wrapper {
  max-width: 100%;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  border-radius: 12px; /* если хочешь скруглённые углы */
  display: block;
}

.stage-box {
  background: linear-gradient(90deg, #710FD8, #25D838);
  color: #fff;
  border-radius: 20px;
}

.feature-title {
  position: relative;
}

.feature-title::before {
  content: '●';
  position: absolute;
  left: 0;
  color: #5d10af;
}

.team-role {
  color: #710FD8;
  font-weight: 500;
}

.team-skills {
  list-style: none;
}

.team-skills li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-skills li::before {
  content: '–';
  position: absolute;
  left: 0;
  color: #25D838;
  font-weight: 600;
}

.why-item {
  display: flex;
  gap: 1.5rem;
}

.why-number {
  min-width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #710FD8;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-project {
  border-left: 2px solid #25D838;
  border-right: 2px solid #25D838;
  border-radius: 16px;
}
